*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}

body{
    background-color: #000;
    font-family: 'poppins',sans-serif;
}

.main-container{
    position: absolute;
    width: 360px;
    padding: 30px;
    text-align: center;
    background: #fff;
    margin-left: 33%;
    margin-top: 10%;
}

.main-container input{
    width: 220px;
    padding: 8px;
    padding-top: 5px;
    border : 2px solid black;
    outline : none;
    font-size: 20px;
}

.main-container button{
    width: 60px;
    height: 40px;
    background: rgb(215, 198, 43);
    color: black;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.task-container ul{
    position: relative;
    background: rgb(215, 198, 43);
    color: black;
    font-size: 20px;
    text-align: left;
    margin: 8px;
    padding: 7px;
}

ul input{
    position: absolute;
    right : 5px;
    cursor: pointer;
}
 ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}